<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">

    <Appenders>
        <File name="InfoFile" fileName="logs/aplicacion.log">
            <PatternLayout pattern="%d [%t] %-5level %c - %msg%n"/>
            <Filters>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </File>

        <File name="ErrorFile" fileName="logs/errores.log">
            <PatternLayout pattern="%d [%t] %-5level %c - %msg%n"/>
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </File>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5level %c - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="InfoFile"/>
            <AppenderRef ref="ErrorFile"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</configuration>
